@page "/checkout"
@rendermode InteractiveServer
@inject OrderState OrderState
@inject PizzaStoreContext Db
@inject NavigationManager NavigationManager
@using BlazingPizza.Data

<PageTitle>Blazing Pizza - Checkout</PageTitle>

<div class="main">
    <div class="checkout-cols">
        <div class="checkout-order-details">
            <h4>Review order</h4>
            @foreach (var pizza in OrderState.Order.Pizzas)
            {
                <p>
                    <strong>
                        @(pizza.Size)"
                        @pizza.Special?.Name
                        (@pizza.GetFormattedTotalPrice())
                    </strong>
                </p>
            }

            <p>
                <strong>
                    Total price:
                    @OrderState.Order.GetFormattedTotalPrice()
                </strong>
            </p>
        </div>

        <div class="checkout-delivery-address">
            <h4>Deliver to...</h4>
            <AddressEditor Address="OrderState.Order.DeliveryAddress" />
        </div>
    </div>

    <button class="checkout-button btn btn-warning" @onclick="PlaceOrder" disabled="@isSubmitting">
        Place order
    </button>
</div>

@code {
    bool isSubmitting;

    async Task PlaceOrder()
    {
        isSubmitting = true;
        try
        {
            var order = OrderState.Order;
            order.CreatedTime = DateTime.Now;
            order.UserId = "default-user";

            foreach (var pizza in order.Pizzas)
            {
                pizza.SpecialId = pizza.Special!.Id;
                pizza.Special = null;

                foreach (var topping in pizza.Toppings)
                {
                    topping.ToppingId = topping.Topping!.Id;
                    topping.Topping = null;
                }
            }

            Db.Orders.Add(order);
            await Db.SaveChangesAsync();

            OrderState.ResetOrder();
            NavigationManager.NavigateTo($"myorders/{order.OrderId}");
        }
        finally
        {
            isSubmitting = false;
        }
    }
}
